<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Table</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
  <style>
    body {
      position: relative;
    }

    .top-right-container {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 1000; /* Убедитесь, что кнопка поверх других элементов */
    }

    #username {
      font-size: 20px; /* Измените размер шрифта по вашему усмотрению */
      font-weight: bold;
    }

    .exit-button {
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      z-index: 1000; /* Убедитесь, что кнопка поверх других элементов */
    }

    .card {
      margin-top: 80px; /* Увеличьте отступ, чтобы таблицы не перекрывались с кнопкой */
    }

    .card-body {
      margin-top: 60px; /* Увеличьте отступ сверху для содержимого карт */
    }
  </style>
</head>
<body>

<div class="top-right-container">
  <p id='username' th:text="${login}">Username</p>
  <a href="http://localhost:8080/logout" class="btn btn-info exit-button text-white text-decoration-none">Выход</a>
</div>

<br><br>

<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        <h2 class="title-cell">CLICKS HISTORY</h2>
      </div>
      <div class="card-body">
        <table id="clicksTable" class="table table-hover">
          <tr>
            <th>ID</th>
            <th>USERNAME</th>
            <th>X</th>
            <th>Y</th>
            <th>DATE</th>
          </tr>
          <tr th:each="click : ${clicks}">
            <td class="id-cell" th:text="${click.id}"></td>
            <td class="username-cell" th:text="${click.username}"></td>
            <td class="x-cell" th:text="${click.x}"></td>
            <td class="y-cell" th:text="${click.y}"></td>
            <td class="date-cell" th:text="${click.createDate}"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-header bg-primary text-white text-center">
        <h2 class="title-cell">CODES</h2>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <tr>
            <th>ID</th>
            <th>LOGIN</th>
            <th>CODE</th>
            <th>DATE</th>
          </tr>
          <tr th:each="code : ${codes}">
            <td class="id-cell" th:text="${code.id}"></td>
            <td class="login-cell" th:text="${code.login}"></td>
            <td class="code-cell" th:text="${code.code}"></td>
            <td class="date-cell" th:text="${code.createDate}"></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script>
  document.addEventListener('click', function(event) {
    let x = event.clientX;
    let y = event.clientY;
    let login = document.getElementById('username').textContent.trim();
    let currentDateTime = getCurrentDateTime();

    fetch('http://localhost:8080/saveCoordinate?x=' + x + '&y=' + y + '&dateTime=' + encodeURIComponent(currentDateTime), {
      method: 'POST'
    })
            .then(response => {
              if (response.ok) {
                console.log('Coordinates and date-time saved successfully');
                addRowToTable(x, y, currentDateTime, login);
              } else {
                console.log('Failed to save coordinates');
              }
            })
            .catch(error => console.log('Error:', error));

    function getCurrentDateTime() {
      const now = new Date();
      const year = now.getFullYear();
      const month = String(now.getMonth() + 1).padStart(2, '0');
      const day = String(now.getDate()).padStart(2, '0');
      const hours = String(now.getHours()).padStart(2, '0');
      const minutes = String(now.getMinutes()).padStart(2, '0');
      const seconds = String(now.getSeconds()).padStart(2, '0');
      const milliseconds = String(now.getMilliseconds()).padStart(3, '0');
      const paddedMilliseconds = milliseconds.padEnd(6, '0');

      return `${year}-${month}-${day}T${hours}:${minutes}:${seconds}.${paddedMilliseconds}`;
    }

    function addRowToTable(x, y, dateTime, username) {
      let table = document.getElementById('clicksTable');
      if (!table) {
        console.error('Table with id "clicksTable" not found.');
        return;
      }

      let rows = table.getElementsByTagName('tr');
      let newId = 1;
      if (rows.length > 1) { // Check if there are rows in the table
        let lastRow = rows[rows.length - 1];
        let lastId = parseInt(lastRow.getElementsByClassName('id-cell')[0].textContent.trim());
        newId = lastId + 1;
      }

      let newRow = table.insertRow(-1);
      newRow.innerHTML = `
        <td class="id-cell">${newId}</td>
        <td class="username-cell">${username}</td>
        <td class="x-cell">${x}</td>
        <td class="y-cell">${y}</td>
        <td class="date-cell">${dateTime}</td>
      `;
    }
  });
</script>
</body>
</html>
